button {
  padding: 10px 20px;
  background-color: darkgoldenrod;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: goldenrod;
}

body {
  background-color: black;
  text-align: center;
}

#log {
    width: 80%;
    height: 600px;
    margin: auto;
    border: 1px solid black;
    overflow-y: auto;
    text-align: left;
    white-space: pre-wrap;
    color: white;
}
#onlineUsers {
  width: 80%;
  height: 50px;
  margine: auto;
  border: 1px solid black;
  overflow-y: auto;
  text-align: center;
  white-space: pre-wrap;
  color: white;
}
h1 {
  color: white;
}
.input-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    color: black;
}
